
html {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), #1a1a1a url(kalmar.png) repeat;
    padding: 2%;
}

main {
    width: 40%;
    margin: 0 auto;
}

a {
    color: whitesmoke;
    background: #1a1a1a;
    padding: 2%;
    elevation: lower;
    border-radius: 2%;
}

.avatar {
    border-radius: 50%;
    width: 30%;
    height: 30%;
}

.info-card {
    background: #222222;
    font-family: "Droid Sans", serif;
    color: rgb(255, 255, 255);
    border-radius: 1%;
    padding: 10%;
}

